{% set route = app.request.get('_route') %}
{% extends "@Front/front-base.html.twig" %}

{% block pagestyle %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css">
{% endblock %}

{% block content %}
<div class="container">
  <div class="section">
    <div class="row page-title">
      <h2>Prenez Rendez-vous</h2>
      <hr class='white' style="margin-bottom:1rem"/>
    </div>
    <div class="row">
      <div class="col l6 m6 s6">
        <span class="btn-floating white  btn-with-text center-align">
          <i class="material-icons">monetization_on</i>
          <h5>
            {{ soldeCredit }}
            Crédit(s)
          </h5>
        </span>
      </div>
      <div class="col l12 m12 s12 #loader-show center-align">
        <div class="card">
          <div class="card-content white-text">
            <div id='calendar'></div>
          </div>
        </div>
      </div>
      <!-- Modal Structure -->
      <div id="addEvents" class="modal modal-fixed-footer">
        <div class="modal-content">
          <h4>Ajouter une séance</h4>
          <div id="choiceTitle" class="row">
            <div class="input-field col s12">
              <select id="selectedPrestation">
                <option value="0">Choisissez votre prestation</option>
                {% for prestation in prestations %}
                  <option class="title-prestation" data-price='{{ prestation.price }}'
                  data-credit="{{ prestation.credit }}" value="{{ prestation.id }}">{{ prestation.hairCuts }}</option>
                {% endfor %}
              </select>
              <label>Intitulé prestation :</label>
            </div>
            <div class="text-align col s6 m6 l6">
              <i class="material-icons medium">schedule</i>
              <strong><div id="dateSelected"></div></strong>
            </div>
            <div class="text-align col s6 m6 l6">
              <i class="material-icons medium">schedule</i>
              <strong><div id="dateSelectedEnd"></div></strong>
            </div>
            <div class="input-field col s12 l6">
              <select id="selectedBarber">
                {% if currentUser.affectedAgentBarber.id != null %}
                  <option hidden class="barberAffectedSelected" data-agent="{{ currentUser.affectedAgentBarber.id }}" 
                  value="{{ currentUser.affectedAgentBarber.id }}" selected> {{ currentUser.affectedAgentBarber }}</option>
                {% else %}
                  <option value="0">Choisissez votre référent</option>
                  {% for teamUser in teamUsers %}
                    <option class="barberAffectedSelected" value="{{ teamUser.id }}">{{ teamUser }}</option>
                  {% endfor %}
                {% endif %}
              </select>
              <label>Choisissez votre coiffeur</label>
            </div>
            <div class="col l6 center" id="affectedBarber" {% if currentUser.affectedAgentBarber.id != null %} data-affectedAgentBarber="{{ currentUser.affectedAgentBarber.id }}" {% endif %}>
              <p>ou votre coiffeur referent <strong>{{ app.user.affectedAgentBarber }}</strong></p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a href="#!" id="btnClose" class="modal-close waves-effect waves-red btn-flat">Annuler</a>
          <a href="#!" id='btnAddEvent' class="modal-close waves-effect waves-green btn-flat">Accepter</a>
        </div>
      </div>

      <div id="showEvents" class="modal modal-fixed-footer">
        <div class="modal-content row">
          <h4>La séance du </h4>
          <div class="col s12 l12 m12">
            <div class="s6 l6 m6">
              <i class="material-icons medium">schedule</i>
              <strong>début:<div id="dateSelected"></div></strong>
            </div>

            <div class="col s6 l6 m6">
              <i class="material-icons medium">schedule</i>
              <strong>fin:<div id="dateSelectedEnd"></div></strong>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a href="#!" id="btnClose" class="modal-close waves-effect waves-red btn-flat">Annuler</a>
          <a href="#!" id='btnAddEvent' class="modal-close waves-effect waves-green btn-flat">Accepter</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block pagejs %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/locale/fr.js'></script>
<script src="{{ asset('assets/js/customFullCalendar.js') }}"></script>

<script type="text/javascript">

</script>
{% endblock %}
