<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>{% block title %}Barber - Salon de coiffure 2.0 {% endblock %}</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
  integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

  {# <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" /> #}
  <!-- google fonts -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- import css -->
  {# <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}"/> #}
  <!-- materialize CSS -->
  {# <link rel="stylesheet" href="{{ asset('assets/vendor/materialize/dist/css/materialize.min.css') }}"> #}
    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


  {% block stylesheets %}
  {% endblock %}

</head>
<body>
  {% block body %}
  {% endblock %}

  <!-- Import jquery && materialize -->
    {# <script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script> #}
    {# <script src="{{ asset('assets/vendor/materialize/dist/js/materialize.min.js') }}"></script> #}
    {# <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script> #}
    {# <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script> #}

    {# <script src="{{ asset('assets/js/shared.js') }}"></script> #}


  {% block javascripts %}
  {% endblock %}
</body>
</html>
