{% extends 'basePdf.html.twig' %}

{% block stylesheets %}
<style>
      body {
        color: #17202A;
      }
      #invoice {
        margin:50px auto;
        width: 80%;
      }
      .header-invoice {
        margin-bottom: 100px;
        margin-top: 50px
      }
      .footer-invoice {
        margin-bottom: 100px
      }
</style>
{% endblock %}

{% block body %}
<main class="row">
  <div id="invoice">
    <div class=" row">
      <div class="header-invoice col s6 m6 l6">
       <div></div>
       {# <img src="logo-menu.png" alt="logo" title="barber 2.0"> #}
       {% if invoice is not null %}
          <p>Facture du
            <strong>
              {{ invoice.date | date("Y/m/d") }}</p>
            </strong>
            <p>Nom: <strong>Barber corporation</strong></p>
            <p>adresse : 33 rue du développement</p>
            <p>code postale: Lyon 69003</p>
            <p>Siren : 203212545687489</p>
        </div>
        <div class="col s6 m6 l6">
              <strong>
                <h3>Facture</h3>
              </strong>
              <hr>
              <p>{{ invoice.serviceList.affectedCustomer.username }}</p>
              <p>{{ invoice.serviceList.affectedCustomer.email }}</p>
        </div>
      </div>
      {% endif %}    
      <hr>
      <div class="table-invoice invoice-body">
        {% if invoice is not null %}
          <table>
            <thead>
              <tr>
                <th>Periode</th>
                <th>Prestation</th>
                <th>Prix unitaire</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>{{ invoice.serviceList.dateHaircut | date("d/m/Y") }}</td>
                <td>{{ invoice.serviceList.haircut }}</td>
                <td>{{ invoice.serviceList.price }}</td>
              </tr>
            </tbody>
          </table>
          <div class="col l6 right">
            <table>
              <thead>
                <tr>
                  <th>HT</th>
                  <th>TTC</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>{{ invoice.serviceList.HT }}</td>
                  <td>{{ totalPrice }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        {% endif %}
      </div>
      <footer class="row">
        <div class="footer-invoice col l12 s12 m12 center">
            <hr>
            <p>
              04 75 69 69 69
            </p>
            <a href="#">www.barber.fr</a>
            <br>
            <a href="#">33 rue du developpement</a>
        </div>
      </footer>
    </div>
  </div>
</main>
{% endblock %}