{% extends "@Front/front-base.html.twig" %}
{% block content %}
<div class="container">
  <div id="credit-" class="section">
    <div class="row page-title">
      <h2>Confirmation de votre commande</h2>
      <hr class='white' style="margin-bottom:1rem"/>
    </div>
    <div class="row">
      <div class="col m12 s12 center-align">
        <div class="card">
          <div class="card-content black-text">
            <strong> 
              <i class="material-icons">local_grocery_store</i>
              <h5>Votre commande à bien été prise en compte</h5>
              <a href="{{ path('front_appointment') }}" class="btn red">Retour au calendrier</a>
            </strong>  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block pagejs %}
{% endblock %}
