{% extends "@Front/front-base.html.twig" %}
{% block content %}
<div class="container">
  <div id="credit-" class="section">
    <div class="row page-title">
      <h2>Purchase</h2>
      <hr class='white' style="margin-bottom:1rem"/>
    </div>
    <div class="row">
      <p>Séléctionner une offre pour acheter des crédits, celui-ci permettra de les utilisés pour prendre un rendez-vous</p>
      <p>* 1 crédit coûte 5 euro </p>
      <div class="col m12 s12 center-align">
        {% if credits != null %}
        <div id="bannerOffer" class="col l12 s12">
          {% for credit in credits %}
          <a title="{{credit.title}}" data-credit="{{credit.id}}" class="btn-purchase btn-floating white btn-with-text" href="#">
            <div class="container-title-offre">
              <div class="arrow-down"></div>
              <span class="offre-title">{{credit.title}}</span>
            </div>
            <p class="offre-price">{{credit.credit}} C*</p>
            <div class="container-footer-offre">
              <div class="arrow-down-footer"></div>
              <p class="btn-purchase-now"> <strong>{{credit.price}} € </strong></p>
            </div>
          </a>
          {% endfor %}
        </div>
        <hr>
        <div class="col l8 s8 m8 right">
          <form action="{{ path('api_apistripe_createcustomer') }}" method="post" id="payment-form">
            <div class="form-row">
              <label for="card-element" class="white-text">
                Carte de credit ou debit
              </label>
              <div id="card-element"></div>
              <div id="card-errors" role="alert"></div>
            </div>
            <br>
            <button type="submit" id="purchaseCredit" class="btn red right" name="button">Acheter</button>
          </form>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block pagejs %}
<script type="text/javascript">
$('#bannerOffer').on('click', 'a', function() {
  var selectCurrent = $(this);
  console.log(selectCurrent);
  $('#bannerOffer').children('a.hoverable-custom').removeClass('hoverable-custom').addClass('hoverable');
  $(this).addClass('hoverable-custom').removeClass('hoverable');
});

$(document).ready(function() {
  var apikey = "{{ stripe_public_key | default(-1) }}"
  $('#bannerOffer').children('a').first().next().addClass('hoverable-custom')
  var stripe = Stripe(apikey);

  var elements = stripe.elements();
  var style = {
    base: {
      color: '#32325d',
      lineHeight: '18px',
      fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
      fontSmoothing: 'antialiased',
      fontSize: '16px',
      '::placeholder': {
        color: '#aab7c4'
      }
    },
    invalid: {
      color: '#fa755a',
      iconColor: '#fa755a'
    }
  };

  var card = elements.create('card', {style: style});

  card.mount('#card-element');

  card.addEventListener('change', function(event) {
    var displayError = document.getElementById('card-errors');
    if (event.error) {
      displayError.textContent = event.error.message;
    } else {
      displayError.textContent = '';
    }
  });

  var form = document.getElementById('payment-form');
  form.addEventListener('submit', function(event) {
    event.preventDefault();

    stripe.createToken(card).then(function(result) {
      if (result.error) {
        var errorElement = document.getElementById('card-errors');
        errorElement.textContent = result.error.message;
      } else {
        var selectCurrent = $("#bannerOffer").children('a.hoverable-custom');
        var idOffer = selectCurrent.data('credit');
        stripeTokenHandler(result.token, idOffer);
      }
    });
  });

  function stripeTokenHandler(token, id) {
    var form = document.getElementById('payment-form');
    var hiddenIdOffer = document.createElement('input');
    hiddenIdOffer.setAttribute('type', 'hidden');
    hiddenIdOffer.setAttribute('name', 'idOffer');
    hiddenIdOffer.setAttribute('value', id);
    form.appendChild(hiddenIdOffer);
    var hiddenInput = document.createElement('input');
    hiddenInput.setAttribute('type', 'hidden');
    hiddenInput.setAttribute('name', 'stripeToken');
    hiddenInput.setAttribute('value', token.id);
    form.appendChild(hiddenInput);

    form.submit();
  }
});
</script>
{% endblock %}
