{% set route = app.request.get('_route') %}

{% extends "@Front/front-base.html.twig" %}

  {% block pagestyle %}
      <link rel="stylesheet" href="{{ asset('assets/css/front/profile.css') }}"/>
  {% endblock %}

{% block content %}
    <div class="container">
        <div class="section">
          <div class="row page-title">
            <h2 style="">Gestion du compte</h2>
            <hr class='white' style="margin-bottom:1rem"/>
          </div>
          <div class="row">
            <div class="col m6 s6 l6">
              <ul class="collapsible " data-collapsible="expandable">
                <li class="">
                  <div class="collapsible-header active">
                    <i class="material-icons ">person</i>
                    Compte
                    <i class="material-icons">arrow_drop_down</i>
                  </div>
                  <div class="collapsible-body ">
                    <p> Nom : {{ app.user.username }}</p>
                    <p> Email : {{ app.user.email }}</p>
                    <p> Coiffeur référent :  <strong>{{ app.user.affectedAgentBarber }} </strong></p>
                    <p> Dernière Connexion : <strong>{{ app.user.lastLogin|date("d/m/y") }}</strong></p>
                    <a href="btn red"></a>
                  </div>
                </li>
                <li >
                 <div class="collapsible-header">
                    <i class="material-icons ">credit_card</i>
                    Carte enregistré
                    <i class="material-icons">arrow_drop_down</i>
                  </div>
                  <div class="collapsible-body">
                    <ul>
                      {% for card in cards %}
                        <li>
                          <p>Carte: XXXXXXXXXX{{card.last4}}<p>
                          {% if card.last4 == 5555 %}
                            <img src="{{ asset('assets/image/visa.png') }}">
                          {% else %}
                            <img src="{{ asset('assets/image/masterCard.png') }}">
                          {% endif %}
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                </li>
                <!-- <li>
                  <div class="collapsible-header">
                    <i class="material-icons ">vpn_key</i>Test <i class="material-icons ">arrow_drop_down</i></div>
                  <div class="collapsible-body">
                    <div class="row">
                      <span>Lorem ipsum dolor sit amet.</span>
                      </div>

                  </div>
                </li>
                <li>
                  <div class="collapsible-header">
                    <i class="material-icons ">whatshot</i>Third<i class="material-icons">arrow_drop_down</i></div>
                  <div class="collapsible-body">
                    <span>Lorem ipsum dolor sit amet.</span></div>
                </li> -->
              </ul>
            </div>
            <div class="col m6 s6 l6">
              <a href="#" id="deleteAccompte" data-user="{{app.user.id}}" class="btn blue">Supprimer votre compte</a> 
            </div>
          </div>

        </div>
      </div>
    </div>
{% endblock %}

{% block pagejs %}
<script type="text/javascript">

$(document).ready(function(){
  $(".collapsible-header" ).click(function() {
      var divCollaspse = $(this).hasClass('active');
      if(divCollaspse) $(this).children().next().css('transform', "rotate(360deg)");
      else $(this).children().next().css('transform', "rotate(180deg)");
  });
  //delete accompte
  $('#deleteAccompte').on('click', () => {
    var answer = confirm("êtes-vous sur de vouloir supprimer votre compte c'est irreversible ?")
    if (answer) {
      const idUser = $("#deleteAccompte").data('user');
      console.log(idUser);
      $.ajax(Routing.generate("api_apiuser_deleteuser", {
        id: idUser
      }), {
        type: 'DELETE'
      })
      //redirect LOGOUT
      let url = '/logout';
      $(location).attr('href', url);
    }
  });
});

</script>
{% endblock %}
