<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>{% block title %}Barber - Salon de coiffure 2.0 {% endblock %}</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
  integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  <!-- google fonts -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- import css -->
  <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}"/>
  <!-- materialize CSS -->
  <link rel="stylesheet" href="{{ asset('assets/vendor/materialize/dist/css/materialize.min.css') }}">


  {% block stylesheets %}{% endblock %}

</head>
<body>
  {% block body %}
  <div id='flash-message-container'>
    {% for label, flashes in app.session.flashbag.all %}
    {% for flash in flashes %}<div class="flash-message" toastType="{{ label }}"> {{ flash }} </div>{% endfor %}
    {% endfor %}
  </div>
  {% endblock %}
  <!-- Import jquery && materialize -->
  <script src="https://js.stripe.com/v3/"></script>
  <script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
  <script src="{{ asset('assets/vendor/materialize/dist/js/materialize.min.js') }}"></script>
  <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
  <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

  <script src="{{ asset('assets/js/shared.js') }}"></script>


  {% block javascripts %}
  {% endblock %}
</body>
</html>
