{% set route = app.request.get('_route') %}
{% extends "@Back/back-base.html.twig" %}

{% block pagestyle %}


{% endblock %}

{% block content %}
<div class="container">
  <div class="section">
    <div class="row page-title">
      <h2>Gestion clients</h2>
      <hr class='white' style="margin-bottom:1rem"/>
    </div>
    <div class="row">
      <div class="col s12">
        <div class="row">
          <div class="col s12 m12 l12">
            <ul class="collapsible" data-collapsible="expandable">
              <li>  
                <div class="collapsible-header active">
                  <i class="material-icons black-text">people</i>
                  <span class="black-text">Clients <strong>{{ users|length }}</strong> </span>
                  <i class="material-icons black-text">arrow_drop_down</i>
                </div>
                <div class="collapsible-body white black-text">
                  <a href="#modal1" alt="" class="waves-effect waves-light modal-trigger" title="Ajouter un nouvelle utilisateur">
                    <i class="material-icons medium orange-text right">add_circle_outline</i></a>
                    {% if users %}
                    <table class="responsive-table highlight">
                      <thead>
                        <tr>
                          <th>Nom</th>
                          <th>Email</th>
                          <th>Dernière connexion</th>
                          <!-- <th>Action</th> -->
                        </tr>
                      </thead>
                      <tbody>
                        {% for user in users %}
                        <tr>
                          <td>
                            <a href="{{ path('back_profil_user', {'id': user.id  }) }}">
                              {{ user.username }}
                            </a>
                          </td>
                          <td>{{ user.email }}</td>
                          <td>{{ user.lastLogin|date('d-m-Y H:i:s') }}</td>
                          <!-- <td>
                            <a href="" title="Supprimer"><i class="material-icons red-text">delete_forever</i></a>
                            <a href="" title="Supprimer"><i class="material-icons blue-text">edit</i></a>
                          </td> -->
                        </tr>
                        {% endfor %}
                        <tbody>
                        </table>
                        {% else %}
                        <h4>Aucun Client</h4>
                        {% endif %}
                        {# <ul class="pagination center">
                          <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                          <li class="active"><a href="#!">1</a></li>
                          <li class="waves-effect"><a href="#!">2</a></li>
                          <li class="waves-effect"><a href="#!">3</a></li>
                          <li class="waves-effect"><a href="#!">4</a></li>
                          <li class="waves-effect"><a href="#!">5</a></li>
                          <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                        </ul> #}
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal Structure -->
      <div id="modal1" class="modal">
        <div id="ajax-container" class="modal-content">
          <div class="row">
            <h3>Ajouter un employé</h4>
              <div class="col offset-m2 offset-l2 offset-s2  l9 m9 s9 ">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                  <button class="btn waves-effect waves-light col s12 " type="submit" name="action">Créer un utilisateur
                    <input type="submit" value="{{ ''|trans }}" />
                  </button>
                {{ form_end(form) }}
              </div>
            </div>
          </div>
        </div>
{% endblock %}

    {% block pagejs %}
    <script type="text/javascript">

    $(document).ready(function(){
      $("#modal1").modal();
    });
  </script>
{% endblock %}
