{% extends "@Back/back-base.html.twig" %}

{% block  content  %}
<div class="container">
    <div class="section">
      <div class="row page-title">
        <h2>Bonjour {{ app.user.username }}</h2>
        <hr class='white' style="margin-bottom:1rem"/>
      </div>
      <div class="row">
        <div class="col m12 s12 l12 center-align">

      {% if app.user.hasRole('ROLE_ADMIN') %}
          <!-- <a title="Gestion Employés" class="btn-floating hoverable white huge-floating-button btn-with-text"
             href="{{ path('back_team') }}">
             <i class="material-icons">people</i>
            <span>Gestion Employés</span>
          </a> -->
          <a title="Gestion des prestation" class="btn-floating hoverable white huge-floating-button btn-with-text"
             href="{{ path('back_edit_Prestation') }}">
             <i class="material-icons">content_cut</i>
            <span>Gestion des prestations</span>
          </a>
          <a title="Gestion Crédit" class="btn-floating hoverable white huge-floating-button btn-with-text"
             href="{{ path('back_credit') }}">
             <i class="material-icons">monetization_on</i>
            <span>Gestion crédit</span>
          </a>
          <!-- <a title="Centre de contrôle"
             class="btn-floating white hoverable huge-floating-button btn-with-text"
             href="{{ path('back_control_center') }}">
            <i class="material-icons">wifi_tethering</i>
            <span>Centre de controle</span>
          </a> -->
          <!-- <a title="Gestion Administrateur" class="btn-floating white hoverable huge-floating-button btn-with-text"
             href="{{ path('back_setting') }}">
            <i class="material-icons">settings</i>
            <span>Compte</span>
          </a> -->
          <!-- Connecté en tant que TEAM -->
      {% elseif app.user.hasRole('ROLE_TEAM') %}
          <a title="Gestion des rendez-vous"
             class="btn-floating white hoverable huge-floating-button btn-with-text"
             href="{{path('back_manage_appointment')}}">
            <i class="material-icons">today</i>
            <span>Gestion Rendez-vous</span>
          </a>
          <a title="Gestion client" class="btn-floating white hoverable huge-floating-button btn-with-text"
             href="{{ path('back_manage_client') }}">
            <i class="material-icons">group</i>
            <span>Gestion client</span>
          </a>
          <!-- <a title="Centre de notification" class="btn-floating white hoverable huge-floating-button btn-with-text"
             href="{{ path('back_notification') }}">
            <i class="material-icons">notifications</i>
            <span>Centre de notification</span>
          </a> -->
      {% endif %}
          <a title="Déconnexion" class="btn-floating white hoverable huge-floating-button btn-with-text"
             href="{{ path('fos_user_security_logout') }}">
            <i class="material-icons">lock_open</i>
            <span>Déconnexion</span>
          </a>
        </div>
      </div>
    </div>
  </div>



{% endblock %}
