<style media="screen">

</style>

{% block subject 'Welcome to newsletter' %}

{% block body_html %}
  test
    This is the <strong>HTML body</strong>.
{% endblock %}

{% block body_text %}
    This is the text body.
{% endblock %}
