/******* employee  *******/

.add_employees a i {
  color: white;
  font-size: 2.5em;
}

/******* employee  *******/
/***** credit ******/
#showCredit i {
  vertical-align: middle;
  
}
/***** credit ******/
