{% extends "base.html.twig" %}


{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('assets/css/back/back.css') }}"/>
      {% block pagestyle %}{% endblock %}
{% endblock %}


{% block body %}

<main class="row">
  {#********** Menu ***********#}
  {% include "menus.html.twig" %}
  <div class="col offset-l1 l10 m11 s12">
    {% block content %}{% endblock %}
  </div>
</main>

{% endblock %}

{% block javascripts %}
  <script src="{{ asset('bundles/back/js/back.js') }}"></script>
  {% block pagejs %}{% endblock %}
{% endblock %}
